<header class="header-container">
    <div class="title-container">
        <div class="title">TJ-laskuri</div>
        <img src="" alt="title-img" class="title-img">
    </div>
    <div class="navbar-container">
        <div class="navbar-item">Home</div>
        <div class="navbar-item">About</div>
        <div class="navbar-item">Contact</div>
    </div>
</header>