<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <title>TJ-laskuri</title>
</head>
<body>
    <div class="container">

        <!-- Include header -->
        <%- include('../partials/header.ejs') %> 

        <div class="inner-container">

            <!-- Display the error message -->
            <%- include('../partials/errorMessage.ejs') %> 

            <!-- res.render is shown here -->
            <%- body %> 

        </div>

    </div>
</body>
</html>