/* Modified from this: https://codepen.io/juliepark/pen/pKybKa */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

.counter-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  padding-bottom: 2rem;
  background-color: var(--counter-bg-color);
  z-index: 10;
}

#countdown-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-family: var(--font-family-countdown);
}

#countdown-title-undertext {
  text-align: center;
  font-family: var(--font-family-countdown);
  margin-bottom: 0rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

/* I don't think this is used */
#countdown-greeting-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 1.5rem;
}

#countdown-greeting {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin: auto;
    margin-top: 2rem;
    font-size: 1.5rem;
}

#countdown-greeting-undertext {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25rem;
    width: 30rem;
    font-size: .8rem;
    margin: auto;
    margin-top: .5rem;
}

.counter-img-container-1 {
    width: 100%;
    height: 9rem;
}

#counter-img-1 {
    height: 90%;
    object-fit: cover;
    position: relative;
    top: 12%;
    z-index: -1;
}

.counter-img-container-2 {
    width: 100%;
    height: 9rem;
}

#counter-img-2 {
    height: 110%;
    object-fit: cover;
    position: relative;
    bottom: 8%;
    z-index: -1;
}

.counter-img-container-3 {
    width: 100%;
    height: 9rem;
}

#counter-img-3 {
    height: 80%;
    object-fit: cover;
    position: relative;
    top: 22%;
    z-index: -1;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 1rem;
  color: var(--counter-white);
  text-align: center;
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: .25rem;
  z-index: 10;
}

.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding: 1rem;
  width: 7rem;
  border-radius: .5rem;
}

.days {
  background: var(--counter-days-color);
}

.hours {
  background: var(--counter-hours-color);
  color: var(--counter-dark);
}

.minutes {
  background: var(--counter-minutes-color);
  align-self: flex-end;
  min-width: 7rem;
}

.seconds {
  background: var(--counter-seconds-color);
  color: var(--counter-dark);


  /* I don't think this is needed
  .numbers {
   
  }
  */
}

.numbers {
  color: var(--counter-dark);
  font-size: 3rem;
}


@media only screen and (max-width: 683px) {
  #countdown-greeting {
    width: 90%;
  }

  #countdown-greeting-undertext {
    width: 80%;
  }

  .days, .hours, .minutes, .seconds {
    padding: 1rem;
    width: 6rem;
    height: 6rem;
  }

  .minutes {
    min-width: 6rem;
  }

  .numbers {
    font-size: 2.5rem;
  }

  .counter-img-container-1, .counter-img-container-2, .counter-img-container-3 {
    height: 7rem;
  }
}


@media only screen and (max-width: 591px) {
  #timer {
    font-size: .6rem;
    letter-spacing: .2rem;
    column-gap: .8rem;
  }
  
  .days, .hours, .minutes, .seconds {
    padding: .2rem;
    width: 5rem;
    height: 5rem;
  }

  .minutes {
    min-width: 5rem;
  }

  .numbers {
    font-size: 2rem;
    padding-top: .8rem;
  }

  .counter-img-container-1, .counter-img-container-2, .counter-img-container-3 {
    height: 6rem;
  }

  #countdown-title {
    font-size: 2rem;
    letter-spacing: .25rem;
  }

  #countdown-title-undertext {
    margin-bottom: .5rem;
  }

  #countdown-greeting {
    letter-spacing: .25rem;
    margin-top: 2rem;
    font-size: 1.3rem;
  }

#countdown-greeting-undertext {
    letter-spacing: .15rem;
    font-size: .7rem;
    margin-top: .5rem;
  }
}


@media only screen and (max-width: 490px) {
  #timer {
    font-size: .6rem;
    letter-spacing: .2rem;
  }
  
  .days, .hours, .minutes, .seconds {
    width: 4.5rem;
    height: 4.5rem;
  }
  
  .minutes {
    min-width: 4.5rem;
  }

  .counter-img-container-1, .counter-img-container-2, .counter-img-container-3 {
    height: 5.5rem;
  }

  .numbers {
    font-size: 1.8rem;
    padding-top: .5rem;
  }

  #countdown-title-undertext {
    width: 90%;
    margin: auto;
    margin-bottom: .5rem;
  }
}

@media only screen and (max-width: 450px) {
  #timer {
    font-size: .6rem;
    letter-spacing: .2rem;
  }
  
  .days, .hours, .minutes, .seconds {
    width: 4rem;
    height: 4rem;
  }

  .minutes {
    min-width: 4rem;
  }

  .counter-img-container-1, .counter-img-container-2, .counter-img-container-3 {
    height: 4.8rem;
  }

  .numbers {
    font-size: 1.5rem;
    padding-top: .5rem;
  }

  #countdown-title-undertext {
    margin-bottom: 0rem;
  }
}

@media only screen and (max-width: 410px) {
  #timer {
    font-size: .5rem;
    letter-spacing: .15rem;
    column-gap: .7rem;
  }
  
  .days, .hours, .minutes, .seconds {
    padding: .2rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  .minutes {
    min-width: 3.5rem;
  }

  .counter-img-container-1, .counter-img-container-2, .counter-img-container-3 {
    height: 4.3rem;
  }

  .numbers {
    padding-top: .5rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 350px) {
  .days, .hours, .minutes, .seconds {
    padding: .2rem;
    width: 3rem;
    height: 3rem;
  }

  .minutes {
    min-width: 3rem;
  }

  .counter-img-container-1, .counter-img-container-2, .counter-img-container-3 {
    height: 3.8rem;
  }

  .numbers {
    padding-top: .4rem;
    font-size: 1.1rem;
  }

}