.header-container {
    display: flex;
    background-color: rgb(243, 139, 54);
    padding: 1rem 0rem;
    justify-content: center;
    column-gap: 10rem;
}

.title-container {
    display: flex;
}

.navbar-container {
    display: flex;

}