.introduction {
    height: 100vh;
}

.introduction-img-container {
    height: 100%;
}

.introduction-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 80%;
}

.introduction-text-container {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}

.introduction-text-1 {
    margin-right: 5rem;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.introduction-text-2 {
    display: inline-block;
    margin-right: 5rem;
    font-size: 2rem;
    background-color: var(--introduction-caution-bg-color);
    color: var(--intorudction-caution-color);
}

.wreath-img {
    width: 100%;
    height: 5rem;
    overflow: hidden;
    background-image: url('/images/Stock_photos/Christmas/wreath_1_2.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    z-index: 10;
}

/*
    background: url("/images/Stock_photos/Christmas/wreath_1_2.png") no-repeat scroll center top transparent;*/

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--profile-bg-color);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.profile-img-container {
    width: 20rem;
    overflow: hidden;
    margin: 0 2.5rem;
}

.profile-img {
    width: 150%;
    height: 25rem;
    position: relative;
    right: 25%;
    object-fit: cover;
    object-position: 100% 50%;
}

.mobile-profile-img {
    display: none;
}

.profile-text-container {
    width: 20rem;
    text-align: center;
    margin: 0rem 2.5rem;
}

.profile-text-title {
    font-size: 2rem;
    margin-bottom: .3rem;
}

.profile-text-title-undertext {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.profile-text {

}

.line-through {
    text-decoration: line-through;
}

.profile-text-bulletpoints {
    text-align: left;
}

.profile-text-bulletpoints li {
    padding: .1rem 0rem;
}

.link-text {
    text-decoration: underline;
    font-weight: bold;
    color: var(--font-color)
}

.change-font {
    font-family: Arial;
}

@media only screen and (max-width: 1000px) {
    .introduction-text-1 {
        margin-right: 1rem;
        font-size: 4rem;
    }
    .introduction-text-2 {
        margin-right: 1rem;
        font-size: 2rem;
    }
}


@media only screen and (max-width: 880px) {
    .profile-img-container {
        width: 20rem;
        margin: 0 1rem;
    }
    
    .profile-text-container {
        width: 20rem;
        margin: 0rem 1rem;
    }
}

@media only screen and (max-width: 740px) {
    .introduction-text-container {
        top: 33%;
    }
    .introduction-text-1 {
        font-size: 3.5rem;
    }
    .introduction-text-2 {
        font-size: 1.7rem;
    }

    .profile-img-container {
        width: 20rem;
        margin: 0 .5rem;
    }
    .profile-img {
        width: 150%;
        height: 25rem;
        position: relative;
        right: 4rem;
        object-fit: cover;
        object-position: 100% 50%;
    }
    
    .profile-text-container {
        width: 20rem;
        margin: 0rem .5rem;
    }
}

@media only screen and (max-width: 640px) {
    .introduction-text-1 {
        margin-right: .3rem;
    }
    .introduction-text-2 {
        margin-right: .3rem;
    }

    .profile-container {
        flex-direction: column;
    }

    .profile-text-title-undertext {
        margin-bottom: 1rem;
    }

    .desktop-profile-img {
        display: none;
    }
    .mobile-profile-img {
        display: block;
    }
    .profile-img-container {
        width: 20rem;
        margin: 0 auto;
        margin-bottom: 1.2rem;
    }
    
    .profile-text-container {
        width: 25rem;
        margin: 0rem auto;
    }
}

@media only screen and (max-width: 620px) {
    .wreath-img {
        background-size: cover;

    }
}

@media only screen and (max-width: 540px) {
    .introduction-text-container {
        text-align: center;
    }
    .introduction-text-1 {
        margin-right: 0rem;
    }
    .introduction-text-2 {
        margin-right: 0rem;
    }

    .profile-img-container {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.2rem;
    }
    .profile-img {
        height: 20rem;
        object-position: 100% 40%;
    }
    
    .profile-text-container {
        width: 90%;
        margin: 0rem auto;
    }
}

@media only screen and (max-width: 412px) {
    .introduction-text-container {
        top: 25%;
    }
    .introduction-text-1 {
        margin-bottom: .8rem;
    }
}