.introduction {
    height: 100vh;
}

.introduction-img-container {
    height: 100%;
}

.introduction-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 80%;
}

.introduction-text-container {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: right;
}

.introduction-text-1 {
    position: relative;
    right: 15%;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.introduction-text-2 {
    position: relative;
    right: 19%;
    font-size: 3rem;
    color:rgb(255, 255, 255);
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--profile-bg-color);
    padding-top: 3rem;
}

.profile-img-container {
    width: 20rem;
    overflow: hidden;
}

.profile-img {
    width: 150%;
    height: 25rem;
    position: relative;
    right: 4rem;
    object-fit: cover;
    object-position: 100% 50%;
}

.profile-text-container {
    width: 20rem;
    text-align: center;
    margin: 0rem 5rem;
}

.profile-text-title {
    font-size: 2rem;
    margin-bottom: .3rem;
}

.profile-text-title-undertext {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.profile-text {

}

.line-through {
    text-decoration: line-through;
}

.profile-text-bulletpoints {
    
}

.change-font {
    font-family: Arial;
}