:root {
    --font-color: black;
    --font-size: 20px;
    --scrollbar-color: white;
    --scrollbar-thumb-color: 
    rgb(173, 93, 18);
    --counter-days-color: #2ea10b;
    --counter-hours-color: #F6F4F3;
    --counter-minutes-color: #276FBF;
    --counter-seconds-color: hsl(35, 100%, 73%);
    --counter-bg-color: #ff946a;
    --counter-dark: #080925;
    --counter-white: #F6F4F3;
    --counter-star: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    --profile-bg-color: hsl(35, 100%, 73%);
    --introduction-caution-bg-color: yellow;
    --intorudction-caution-color: black;
}

/*
COLOR BANK
    --counter-days-color: #EF2F3C;
    --counter-dark: #183059;
    --counter-bg-color: #df160f;
    --counter-bg-color: #ff2c25;
    --counter-bg-color: #fda8a5;
    --counter-bg-color: #fda8a5c0;
    --counter-bg-color: #ff946a;
    --counter-bg-color: #f89d79;
    --counter-seconds-color: #F0A202;


*/